---
interface Props {
  id: number;
  icon: string;
  title: string;
  description: string;
  class?: string;
}

const { id, icon, title, description, class: className = '' } = Astro.props;
---

<div 
  class={`service-card ${className}`} 
  data-modal={`modal-${id}`}
  role="button"
  tabindex="0"
>
  <div class="service-card__icon" set:html={icon}></div>
  <h3 class="service-card__title">{title}</h3>
  <p class="service-card__description">{description}</p>
  <button 
    type="button"
    class="btn-cta"
    aria-label={`Ver detalles sobre ${title}`}
    aria-haspopup="dialog"
    tabindex="-1"
  >
    Ver detalles
  </button>
</div>

