---
import gabriel from '../../assets/img/gabriel.jpeg';
import { Image } from 'astro:assets';

// Logos Tecnologías
import logoAngular from '../../assets/img/logo-angular.webp';
import logoAstro from '../../assets/img/logo-astro.webp';
import logoNode from '../../assets/img/logo-node.webp';
import logoNest from '../../assets/img/logo-nest.webp';
import logoWordPress from '../../assets/img/logo-wordpress.webp';
import logoPostgres from '../../assets/img/logo-postgres.webp';
import logoMongo from '../../assets/img/logo-mongo.webp';
import logoGit from '../../assets/img/logo-git.webp';
import logoAI from '../../assets/img/logo-ai.webp';
---

 <section class="about" id="quien-soy">
  <div class="about-content">
    <h2 class="title-section fade-in">Sobre Mí</h2>
    <div class="about-content__header">
        <h3 class="about-content__header__title fade-in fade-in-delay-1">Gabriel Zavando – Full Stack Developer Freelance</h3>
    </div>

    <div class="about-content-figure">
      <div class="about-content-figure__text">
        <p class="about__paragraph fade-in fade-in-delay-2">
          Con más de 10 años de experiencia, creo firmemente que el desarrollo de software es una forma concreta de mejorar la manera en que trabajamos. Mi foco es construir herramientas a medida para automatizar procesos y digitalizar operaciones
        </p>
        <p class="about__paragraph fade-in fade-in-delay-3">
          He visto cómo muchas Pymes invertían en soluciones genéricas que no resolvían sus desafíos. Por eso, cada proyecto que desarrollo nace de tu realidad, no de plantillas. Mi trabajo es un acompañamiento que va más allá de la entrega: trabajamos juntos desde el inicio hasta la implementación, asegurándome de que tu proyecto tenga un impacto y una evolución real y continua.
        </p>
  
      </div>

      <div class="about-content-figure__image">
        <Image
          src={gabriel}
          alt="Gabriel Zavando - Desarrollador Full Stack"
            width={300}
            height={375}
          class="about__photo fade-in fade-in-delay-5"
          loading="lazy"
        />
      </div>
    </div>

    <div class="about-content__specialties">
      <h3 class="subtitle-section fade-in">Especialidades</h3>
      <ul class="about-content__specialties__list">
        <li class="about-content__specialties__item specialty-item fade-in fade-in-delay-1">
          <span class="material-symbols-outlined">laptop_mac</span>
          <span>Desarrollo Frontend</span>
        </li>
        <li class="about-content__specialties__item specialty-item fade-in fade-in-delay-2">
          <span class="material-symbols-outlined">dns</span>
          <span>Desarrollo Backend</span>
        </li>
        <li class="about-content__specialties__item specialty-item fade-in fade-in-delay-3">
          <span class="material-symbols-outlined">smartphone</span>
          <span>Diseño Responsivo</span>
        </li>
        <li class="about-content__specialties__item specialty-item fade-in fade-in-delay-4">
          <span class="material-symbols-outlined">sync_alt</span>
          <span>APIs RESTful</span>
        </li>
        <li class="about-content__specialties__item specialty-item fade-in fade-in-delay-5">
          <span class="material-symbols-outlined">settings</span>
          <span>Software a Medida</span>
        </li>
        <li class="about-content__specialties__item specialty-item fade-in fade-in-delay-6">
          <span class="material-symbols-outlined">smart_toy</span>
          <span>Chatbots con IA</span>
        </li>
      </ul>
    </div>

    <div class="about-content__tech">
      <h3 class="subtitle-section fade-in">Tecnologías</h3>
      <ul class="about-content__tech__list">
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-1">
          <Image src={logoAngular} alt="Logo Angular" class="about-tech-logo" />
          <span>Angular</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-2">
          <Image src={logoAstro} alt="Logo Astro" class="about-tech-logo" />
          <span>Astro</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-3">
          <Image src={logoNode} alt="Logo Node.js" class="about-tech-logo" />
          <span>Node.js</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-4">
          <Image src={logoNest} alt="Logo NestJS" class="about-tech-logo" />
          <span>NestJS</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-5">
          <Image src={logoWordPress} alt="Logo WordPress" class="about-tech-logo" />
          <span>WordPress</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-6">
          <Image src={logoPostgres} alt="Logo PostgreSQL" class="about-tech-logo" />
          <span>PostgreSQL</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-7">
          <Image src={logoMongo} alt="Logo MongoDB" class="about-tech-logo" />
          <span>MongoDB</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-8">
          <Image src={logoGit} alt="Logo Git" class="about-tech-logo" />
          <span>Git</span>
        </li>
        <li class="about-content__tech__item tech-item fade-in fade-in-delay-9">
          <Image src={logoAI} alt="Logo Modelos de AI" class="about-tech-logo" />
          <span>Modelos de AI</span>
        </li>
      </ul>
    </div>
  </div>
</section>
